@charset "utf-8";
$main-font: #333; //$ 달러 표시는 변수
$sub-font: #888;

body{
  font-family: 'Paperlogy', sans-serif;
  color: $main-font;
}
header{
  width: 80%;
  display: flex;
  justify-content: space-between; //저스티파이 - 주축에 대한 정렬
  align-items: flex-end; //얼라인=교차축에 대한 정렬
  margin: 2rem auto;
  nav{
    ul{
      display: flex;
      justify-content: flex-end;
      gap: 2rem;
      &.top{ // & <-앤드 표시는 하위의 섹션을 추가한다(더한다)는 의미
        color: $sub-font;
        font-size: 0.7rem;
      }
      &.main{
        font-weight: 600;
        gap: 3rem;
        margin-top: 3rem;
      }
    }
  }
}

section#banner{
  height: 80vh;
  position: relative;
  overflow: hidden;
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }
  video{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  div.title{
    position: absolute;
    top: 30%;
    left: 20%;
    color: #fff;
    width: 500px;
    z-index: 2;
    h2{
      font-size: 4rem;
    }
    p{
      font-weight: 100;
      margin: 1rem 0;
    }
    button{
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff;
      width: 60%;
      padding: 1rem 0rem;
    }
  }
}

section#news{
  margin: 10rem 0;
  h2{
    text-align: center;
    padding: 20px 0;
  }
  ul{
    display: flex;
    gap: 1rem;
    width: 80%;
    margin: 1rem auto;
    li{
      flex: 1; //정렬 비율
      img{
        width: 80%;
        height: 100px;
        object-fit: cover;
      }
      h3{
        margin: 1.2rem 0;
      }
    }
  }
}
footer{
  background-color: #333;
  color: #888;
  padding: 5rem 0;
  div{
    width: 80%;
    margin: 0 auto;
    &.contents{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #888;
      padding-bottom: 20px;
      ul{
        display: flex;
        gap: 1rem;
      }
    }
    &.copyright{
      p{
        margin: 1rem 0;
        &:nth-child(1){
          margin-bottom: 0;
        }
        &:nth-child(2){
          margin: 0;
        }
      }
    }
  }
}