@font-face {
    font-family: 'Paperlogy 1';
    src: url('Paperlogy-1Thin.woff2') format('woff2'),
        url('Paperlogy-1Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

