@charset "utf-8";

$main-color: #3f51b5;

@mixin flex($justify:center, $align:center, $direction:row){
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
@mixin tablet{
  @media screen and (min-width:768px){
  }
}

body{
  font-family: 'Paperlogy' sans-serif;
  color: $main-color;
}

header{
  height: 80vh;
  width: 100%;
  background-image: url(../images/slide01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  nav{
    height: 50px;
    background-color: #fff;
    padding: 0 3rem;
    @include flex(space-between);
    .menu-icon{
      font-size: 1.5rem;
      cursor: pointer;
      @include tablet{
        display: none;
      }
      &:hover + ul{
        display: block;
      }
    }
    ul{
      // display: none;
      width: 100%;
      position: absolute;
      top: 80px;
      left: 0;
      li{
        width: 100%;
        background-color: $main-color;
        color: #eee;
        padding: 0.5rem 0;
        a{
          width: 100%;
          padding: 0 0.5rem;
        }
        @include tablet{
          width: 20%;
          padding: 0;
          background-color: #fff;
          color: $main-color;
        }
      }
      @include tablet{
        position: static;
        width: 60%;
        @include flex();
      }
    }
  }
}

section#about{
  margin: 2rem;
  text-align: center;
  line-height: 1.5;
  article{
    margin: 3rem 0;
    h2{
      font-size: 2rem;
      letter-spacing: 5px;
      @include tablet{
        width: 50%;
        text-align: left;
        border-right: 1px solid $main-color;
      }
    }
    p{
      @include tablet{
        width: 60%;
        text-align: left;
      }
    }
    @include tablet{
      width: 80%;
      padding: 3rem 0;
      margin: 0 auto;
      @include flex();
      gap: 2rem;
    }
  }
  ul{
    li{
      margin: 1rem 0;
    }
    @include tablet{
      width: 80%;
      margin: 3rem auto;
      @include flex()
      
    }
  }
}

section#work{
  h2{
    font-size: 2rem;
    letter-spacing: 5px;
    text-align: center;
    @include tablet{
      width: 80%;
      margin: 0 auto;
      text-align: left;
    }
  }
  article{
    display: grid;
    grid-template-columns: 1fr;
    // a{
    //   aspect-ratio: 1/1; //넓이와 높이 비율을 똑같이
    //   background-repeat: no-repeat;
    //   background-size: cover;
    //   &:nth-child(1){
    //     background-image: url(../images/work01.jpg);
    //   }
    //   &:nth-child(2){
    //     background-image: url(../images/work02.jpg);
    //   }
    //   &:nth-child(3){
    //     background-image: url(../images/work03.jpg);
    //   }
    //   &:nth-child(4){
    //     background-image: url(../images/work04.jpg);
    //   }
    //   &:nth-child(5){
    //     background-image: url(../images/work05.jpg);
    //   }
    //   &:nth-child(6){
    //     background-image: url(../images/work06.jpg);
    //   }
    //   &:nth-child(7){
    //     background-image: url(../images/work07.jpg);
    //   }
    //   &:nth-child(8){
    //     background-image: url(../images/work08.jpg);
    //   }
    @for $i from 1 through 8{
      &:nth-child(#{$i}){
        background-image: url(../images/work0#{$i}.jpg);
      }
    }
  }
}