@charset "utf-8";

$main-color: #3f51b5;

@mixin flex($justify:center, $align:center, $direction:row){
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
@mixin tablet{
  @media screen and (min-width:768px){
  }
}
html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Paperlogy' sans-serif;
  color: $main-color;
}

header{
  height: 50vh;
  width: 100%;
  background-image: url(../images/slide01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include tablet{
    height: 80vh;
  }

  nav{
    height: 80px;
    background-color: #fff;
    padding: 0 3rem;
    @include flex(space-between);
    .menu-icon{
      font-size: 1.5rem;
      cursor: pointer;
      @include tablet{
        display: none;
      }
      &:hover + ul{
        display: block;
      }
    }
    ul{
      // display: none;
      width: 100%;
      position: absolute;
      top: 80px;
      left: 0;
      li{
        width: 100%;
        background-color: $main-color;
        color: #eee;
        padding: 0.5rem 0;
        a{
          width: 100%;
          padding: 0 0.5rem;
        }
        @include tablet{
          width: 20%;
          padding: 0;
          background-color: #fff;
          color: $main-color;
        }
      }
      @include tablet{
        position: static;
        width: 60%;
        @include flex();
      }
    }
  }
}

section#about{
  margin: 2rem;
  text-align: center;
  line-height: 1.5;
  article{
    margin: 3rem 0;
    h2{
      font-size: 2rem;
      letter-spacing: 5px;
      @include tablet{
        width: 50%;
        text-align: left;
        border-right: 1px solid $main-color;
      }
    }
    p{
      @include tablet{
        width: 60%;
        text-align: left;
      }
    }
    @include tablet{
      width: 80%;
      padding: 3rem 0;
      margin: 0 auto;
      @include flex();
      gap: 2rem;
    }
  }
  ul{
    li{
      margin: 1rem 0;
    }
    @include tablet{
      width: 80%;
      margin: 3rem auto;
      @include flex()
      
    }
  }
}

section#work{
  h2{
    font-size: 2rem;
    letter-spacing: 5px;
    text-align: center;
    @include tablet{
      width: 80%;
      margin: 0 auto;
      text-align: left;
    }
  }
  article{
    display: grid;
    grid-template-columns: 1fr;
    // a{
    //   aspect-ratio: 1/1; //넓이와 높이 비율을 똑같이
    //   background-repeat: no-repeat;
    //   background-size: cover;
    //   &:nth-child(1){
    //     background-image: url(../images/work01.jpg);
    //   }
    //   &:nth-child(2){
    //     background-image: url(../images/work02.jpg);
    //   }
    //   &:nth-child(3){
    //     background-image: url(../images/work03.jpg);
    //   }
    //   &:nth-child(4){
    //     background-image: url(../images/work04.jpg);
    //   }
    //   &:nth-child(5){
    //     background-image: url(../images/work05.jpg);
    //   }
    //   &:nth-child(6){
    //     background-image: url(../images/work06.jpg);
    //   }
    //   &:nth-child(7){
    //     background-image: url(../images/work07.jpg);
    //   }
    //   &:nth-child(8){
    //     background-image: url(../images/work08.jpg);
    //   }
    @for $i from 1 through 8{
      &:nth-child(#{$i}){
        background-image: url(../images/work0#{$i}.jpg);
      }
    }
    &:hover p{
      display: block;
    }
    p{
      display: none;
      width: 100%;
      height: 100%;
    }
  }
}

hr{
  width: 20px;
  margin: 2rem auto;
}
section#blog{
  width: 80%;
  margin: 3rem auto;
  @include flex( center , center , column );
  @include tablet{
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
  }
  h2{
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
  }
  ul{
    @include tablet{
      @include flex();
      gap: 1rem;
    }
    li{
      img{
        width: 100%;
      }
      p{
        &:nth-of-type(1){
          font-size: 0.5rem;
        }
        &:nth-of-type(2){
          font-size: 0.8rem;
          padding: 1rem 0;
        }
      }
    }
  }
}

section#contact{
  h2{
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
  }
  form{
    width: 80%;
    margin: 1rem auto;
  }
  label{
    display: block;
    position: relative;
    height: 2rem;
    margin: 2rem 0;
    span{
      position: absolute;
      top: 0;
      left: 5px;
      z-index: 3;
    }
    input, textarea{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
      border-bottom: 1px solid $main-color;
    }
    textarea{
      height: 500%;
    }
  }
  button{
    margin-top: 200px;
    background-color: $main-color;
    color: #fff;
    border: none;
    outline: none;
    padding: 20px;
    display: block;
    width: 40%;
    margin-left: auto;
    cursor: pointer;
    @include tablet{
      margin-top: 0;
    }
    &:hover{
      background-color: darken($main-color,30%);
    }
  }
}


footer{
  p{
    background-color: $main-color;
    color: #eee;
    padding: 2rem 0;
    text-align: center;
  }
}

